:root {
  --border-width: 4px;
  --border-ofset: 2rem;
}

.homepage {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #36454f;
}

.logout-button {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9999;
  height: 40px;
  aspect-ratio: 1 / 1;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.save-container {
  position: absolute;
  bottom: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 200;
  background: linear-gradient(to bottom, transparent, #36454f);
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 3rem;
  width: 90%;
  font-size: 1.5rem;
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  backdrop-filter: blur(7px);
  color: white;
  font-family: "Circular Std Book", sans-serif;
  clip-path: polygon(
    var(--border-ofset) 0%,
    100% 0%,
    calc(100% - var(--border-ofset)) 100%,
    0% 100%
  );
  position: relative;
}

.save-indicator {
  width: 6rem;
  height: 3rem;
  position: absolute;
  bottom: 1rem;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.5s;
  opacity: 0;
  color: white;
}

[id$="border"] {
  width: 100%;
  position: absolute;
  transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}

#top-border {
  top: 0;
  height: var(--border-width);
  background: linear-gradient(
    300deg,
    #ed7e21 0,
    #dd2a5a 27%,
    #d627ad 62%,
    #2a35d9 100%
  );
}

#left-border {
  clip-path: polygon(0 0, 50% 0, calc(50% - var(--border-ofset)) 100%, 0% 100%);
  left: calc(calc(-50% + var(--border-ofset)) + var(--border-width));
  height: 100%;
  background: linear-gradient(
    180deg,
    #2a35d9 0,
    #d627ad 27%,
    #dd2a5a 62%,
    #ed7e21 100%
  );
}

#bottom-border {
  bottom: 0;
  height: var(--border-width);
  background: linear-gradient(
    300deg,
    #2a35d9 0,
    #d627ad 27%,
    #dd2a5a 62%,
    #ed7e21 100%
  );
}

#right-border {
  clip-path: polygon(
    50% 0,
    100% 0,
    100% 100%,
    calc(50% - var(--border-ofset)) 100%
  );
  right: calc(-50% + var(--border-width));
  height: 100%;
  background: linear-gradient(
    0deg,
    #2a35d9 0,
    #d627ad 27%,
    #dd2a5a 62%,
    #ed7e21 100%
  );
}
