.workout-row {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 9rem;
}

.youtube-icon-container {
  width: 100%;
  height: 2rem;
  position: relative;
  cursor: pointer;
}

.youtube-icon {
  height: 100%;
  width: 2rem;
  position: absolute;
  right: 1rem;
}

.youtube-video-container {
  position: absolute;
  aspect-ratio: 16 / 9;
  transition: 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  height: 0;
  background-color: black;
  right: 0;
}

.workout-label {
  width: var(--label-width);
  height: var(--label-height);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.1rem;
  z-index: 2;
  position: relative;
}

.input-container {
  width: 18rem;
  height: 4rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  border-radius: 2rem;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: 50px;
  background: #36454f;
  background: linear-gradient(145deg, #313e47, #3a4a55);
  box-shadow: 20px 20px 60px #2e3b43, -20px -20px 60px #3e4f5b;
  overflow: hidden;
}

.input-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weight-label {
  width: 6rem;
}

.decrease-button,
.increase-button {
  width: 4rem;
  cursor: pointer;
  font-size: 2rem;
  background: linear-gradient(90deg, #2e3b43 0%, #3e4f5b 100%);
  border-radius: 1.5rem;
}

.sets-and-reps-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  backdrop-filter: blur(5px);
  border-radius: 5rem;
  transition: 0.6s cubic-bezier(0.83, 0, 0.17, 1);
  flex-direction: column;
}

@keyframes fading {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.3;
  }
}
