.app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #36454f;
}

.save-container {
  position: absolute;
  bottom: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 2;
  background: linear-gradient(to bottom, transparent, #36454f);
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 3rem;
  width: 90%;
  border-radius: 1rem;
  border: 0.5px solid white;
  font-size: 1.5rem;
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  background: #f2a25f;
  background: linear-gradient(
    300deg,
    #f2a25f 0%,
    #e66386 27%,
    #e15cc2 62%,
    #6169e3 100%
  );
  color: white;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.save-button:active {
  background: #ed7e21;
  background: linear-gradient(
    300deg,
    #ed7e21 0%,
    #dd2a5a 27%,
    #d627ad 62%,
    #2a35d9 100%
  );
}

.save-indicator {
  width: 6rem;
  height: 3rem;
  position: absolute;
  bottom: 1rem;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.5s;
  opacity: 0;
  color: white;
}
