:root {
  --label-height: 2rem;
  --divider-height: 90%;
  --label-width: 16rem;
}

.card-container {
  display: grid;
  width: 100%;
  grid-template-rows: 2fr 8fr;
  background: #36454f;
  color: #e0e8ef;
  height: 100%;
  position: absolute;
  -webkit-transition: left 0.6s cubic-bezier(0.83, 0, 0.17, 1);
  -o-transition: left 0.6s cubic-bezier(0.83, 0, 0.17, 1);
  transition: left 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}

.card-container:first-of-type::after,
.card-container:last-of-type::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 100%;
  background: #36454f;
  background: linear-gradient(-90deg, #36454f 000%, #2e3b43 050%, #36454f 100%);
  left: -5%;
}

.card-container:last-of-type::after {
  right: -5%;
}

header {
  grid-row: 1 / 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  text-transform: uppercase;
}

section {
  grid-row: 2 / 3;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.muscle-group-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.muscle-group-container::-webkit-scrollbar {
  display: none;
}

.scroller {
  width: 100%;
}

.save-container {
  position: absolute;
  bottom: 0;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 2;
  background: linear-gradient(to bottom, transparent, #36454f);
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 3rem;
  width: 6rem;
  border-radius: 1rem;
  border: 0.5px solid white;
  font-size: 1.3rem;
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  background: #f2a25f;
  background: linear-gradient(
    300deg,
    #f2a25f 0%,
    #e66386 27%,
    #e15cc2 62%,
    #6169e3 100%
  );
}

.save-button:active {
  background: #ed7e21;
  background: linear-gradient(
    300deg,
    #ed7e21 0%,
    #dd2a5a 27%,
    #d627ad 62%,
    #2a35d9 100%
  );
}

.save-indicator {
  width: 6rem;
  height: 3rem;
  position: absolute;
  bottom: 1rem;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.5s;
  opacity: 0;
}
