[class^="label"] {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 900;
  background-clip: text !important;
  color: transparent !important;
  text-transform: capitalize;
}

.label-0 {
  background: linear-gradient(135deg, #ffdd00 33.33%, #fbb034 66.66%);
}

.label-1 {
  background: linear-gradient(135deg, #227e22 33.33%, #66ff00 66.66%);
}

.label-2 {
  background: linear-gradient(135deg, #f83600 33.33%, #ee812b 66.66%);
}

